/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #120a1f;
    border-bottom: 1px solid #2a1450;
}

.logo {
    color: #b36bff;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: #d7b3ff;
    text-decoration: none;
}

.nav-links a:hover {
    color: #b36bff;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 30px;
    background: #120a1f;
    border-top: 1px solid #2a1450;
    color: #aaa;
}